$primary-color: #ffffff;
$secondary-color: #000000;
$tertiary-color: #e9e9e9;
$quaternary-color: #424242;

$text-color: #000000;
$text-color-alt: #ffffff;
$main-font-family: 'Montserrat', sans-serif;
$color-opacity: rgba(0, 0, 0, 0.8);
$color-alt-opacity: rgba(255, 255, 255, 0.2);
