@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");
.main-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  height: 7rem;
  width: 100vw;
  padding: 0 10vw;
  z-index: 1;
  -webkit-transition: 0.25s ease-out;
  transition: 0.25s ease-out;
  color: #ffffff;
}

.main-header a {
  font-size: 0.9rem;
  text-decoration: none;
  color: #000000;
  text-transform: uppercase;
  letter-spacing: 0.25rem;
}

.main-header .logo a {
  color: #000000;
}

.main-header .logo a.scrolled {
  color: #ffffff;
}

.main-header .nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

.main-header .nav-links .nav-link a {
  color: #000000;
  margin: 0.2rem;
  padding: 1rem 0.5rem;
}

.main-header .nav-links .nav-link a:hover {
  background: rgba(255, 255, 255, 0.2);
}

.main-header .nav-links .nav-link a.scrolled {
  color: #ffffff;
}

.main-header .menu-icon {
  position: relative;
  padding: 1.6rem 0.6rem;
  cursor: pointer;
  z-index: 1;
  display: none;
}

.main-header .menu-icon__line {
  display: block;
  position: relative;
  height: 0.12rem;
  width: 1.25rem;
  border-radius: 0.25rem;
  background: #000000;
  -webkit-transition: background 1s ease;
  transition: background 1s ease;
}

.main-header .menu-icon__line::before, .main-header .menu-icon__line::after {
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: 0.25rem;
  background: #000000;
  -webkit-transition: background 1s ease;
  transition: background 1s ease;
}

.main-header .menu-icon__line::before {
  -webkit-transform: translateY(-0.3rem);
          transform: translateY(-0.3rem);
}

.main-header .menu-icon__line::after {
  -webkit-transform: translateY(0.3rem);
          transform: translateY(0.3rem);
}

.main-header .menu-button {
  display: none;
}

.main-header.scrolled {
  height: 5rem;
  background: rgba(0, 0, 0, 0.8);
  color: #000000;
}

.main-header.scrolled .menu-icon__line, .main-header.scrolled .menu-icon__line::before, .main-header.scrolled .menu-icon__line::after {
  background: #ffffff;
}

@media screen and (max-width: 767px) {
  .main-header .menu-icon {
    display: block;
  }
  .main-header .nav-links {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 10rem 0;
    width: 100vw;
    height: 100vh;
    background: #ffffff;
    color: #ffffff;
    font-size: 1.8rem;
    -webkit-transition: opacity 0.5s 0.3s, -webkit-clip-path 1s 0.3s;
    transition: opacity 0.5s 0.3s, -webkit-clip-path 1s 0.3s;
    transition: opacity 0.5s 0.3s, clip-path 1s 0.3s;
    transition: opacity 0.5s 0.3s, clip-path 1s 0.3s, -webkit-clip-path 1s 0.3s;
    -webkit-clip-path: circle(12.5rem at top right);
            clip-path: circle(12.5rem at top right);
  }
  .main-header .nav-links .nav-link a {
    color: #000000;
  }
  .main-header .nav-links .nav-link a.scrolled {
    color: #000000;
  }
  .main-header .menu-button:checked ~ .nav-links {
    opacity: 1;
    -webkit-clip-path: circle(100% at center);
            clip-path: circle(100% at center);
  }
}

.btn-primary {
  color: #fff;
  background-color: #424242;
  border-color: #000000;
}

.btn-primary:hover {
  background-color: #000000;
  border-color: #424242;
}

.btn-primary:focus {
  background-color: #000000;
  border-color: quaternary-color;
}

#btn {
  width: 8.5rem;
  max-width: 8.5rem;
}

.card {
  background-color: #e9e9e9;
}

.row {
  max-width: 85vw;
  margin: auto;
}

.container-posts {
  padding-top: 10%;
}

.main-header .albuns a {
  color: black;
}

.hero-posts {
  height: 60vh !important;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  overflow-x: hidden;
}

.container {
  width: 80%;
  margin: 2rem auto;
}

.container p {
  font-size: 1rem;
  color: #000000;
  text-align: center;
  margin: 1rem 0;
  max-width: 90vw;
}

.container .byBruno {
  font-size: 0.8rem;
  color: #000000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 90vw;
}

.container i {
  color: #b90505;
  padding-left: 0.25rem;
}

.hero, .hero-posts {
  height: 100vh;
  background: #ffffff;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 10vh;
  color: #000000;
}

.hero h1, .hero-posts h1 {
  position: relative;
  font-size: 4rem;
  letter-spacing: 0.35rem;
}
/*# sourceMappingURL=main.css.map */